a {
  text-decoration: none;
  background-color: transparent;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(71, 72, 75);
}

a:active {
  color: rgb(178, 181, 187);
}

a.down-menu-links:link {
  color: white;
}

a.down-menu-links:visited {
  color: white;
}

a.down-menu-links:hover {
  color: rgb(143, 144, 148);
}

a.down-menu-links:active {
  color: rgb(178, 181, 187);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format('woff2'), url(../fonts/gilroylight.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'), url(../fonts/gilroyextrabold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format('woff2'), url(../fonts/opensanslight.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format('woff2'), url(../fonts/opensans.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

.visually-hidden:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  font-size: 0;
}

li {
  list-style-type: none;
}

.search-button {
  visibility: hidden;
}


body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

.search-form {
  position: relative;
  display: flex;
  width: 440px;
  margin-right: 100px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-text-header {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
}

.up-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: black;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

/* ШАПКА */

.container {
  width: 1160px;
  margin: 0 auto;
  background-color: transparent;
}

.main-header {
  position: relative;
  min-height: 300px;
  min-width: 1160px;
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
}

.header-first-line {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
  align-items: baseline;
  padding-top: 34px;
  background-color: transparent;
}

.up-menu {
  display: flex;
  width: 580px;
  justify-content: space-between;
  background-color: transparent;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.up-menu-compare {
  margin-right: 33px;
  margin-left: auto;
}

.up-menu-cart {
  padding-left: 27px;
}

.main-menu {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.main-menu .catalog li {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-size: 15px;
  font-weight: 200;
  color: black;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}


/* СЛАЙДЕРЫ */

.slider-container {
  position: relative;
  top: -112px;
  margin-bottom: -20px;
}

.slider-list-item {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

.slider-left {
  text-align: center;
  width: 560px;
}

.slider-right {
  width: 560px;
  position: relative;
}

.slider-image {
  height: 486px;
  width: 384px;
}

.slider-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  color: black;
  font-weight: 700;
}

.slider-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: black;
}

.slider-item-parameter {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  color: black;
  font-weight: 200;
}

.slider-item-describe {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: black;
}


/* КАТЕГОРИИ меню квадратиками */

.categories {
  margin-bottom: 67px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-content: baseline;
}

.categories-section-image {
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories-section-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories-section-title {
  white-space: normal;
  width: 160px;
}

.categories-section-link {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
}

/* сервисы */

.service {
  min-height: 385px;
  margin-bottom: 92px;
  background-color: #e5e5e5;
}

.services-nav {
  display: flex;
  min-width: 277px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  border-right: 7px solid #000;
}

.oneservice-navigate {
  width: 100%;
  margin: 12px 0;
  padding: 0;
  text-align: center;
}

.link-sevices {
  position: relative;
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description ul {
  margin-left: 118px;
  margin-top: 70px;
  width: 460px;
  position: relative;
}

.oneservice-description p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.services-description h2 {
  margin-bottom: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}


.link-more {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 700;
}


/* бренды */

.brands-list {
  display: flex;
  justify-content: space-between;
}

/* о нас и контакты */

.about-us-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-us-discription {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  letter-spacing: 0;
  width: 475px;
  margin-bottom: 30px;
}

.contacts-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  letter-spacing: 0;
  width: 475px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 43px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  color: #000;
}


.about-us-partners {
  margin-top: 65px;
  margin-left: -3px;
  margin-bottom: 54px;
  list-style: none;
}

.map {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 65px;
}

/* подвал */

.footer-all {
  position: relative;
  padding-top: 63px;
  padding-bottom: 17px;
  background-color: #464646;
}

.footer-up-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.footer-menu-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.down-menu {
  display: flex;
}


.footer-center-part {
  display: flex;
  align-items: baseline;
  margin-bottom: 45px;
  justify-content: space-between;
}

.footer-down-part {
  display: flex;
  align-items: baseline;
  margin-bottom: 45px;
  justify-content: space-between;
}


.down-menu-navigation {
  margin: 20px;
  justify-content: space-between;
}

.down-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: rgba(255, 255, 255, .7);
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

address {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, .7);
  width: 250px;
  text-align: left;
}

.phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, .7);
  width: 250px;
  text-align: right;

}

.down-menu-navigation {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;

}

.social-pages {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.HTML-Academy-logo {
  width: 80px;
  text-align: right;
}


/* внутренняя страница */

.Path {
  padding: 0 60px;
  margin-bottom: 45px;
}

h1 {
  margin-bottom: 25px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: .013em;
  color: #000;
}

.catalog-path-nav {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.item-path-nav {
  margin-right: 30px;
}

.item-path-nav a {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, .3);
  letter-spacing: .01em;
}

.container-catalog-title {
  min-height: 70px;
  display: flex;
}

.container-catalog .container>div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-left-title {
  width: 200px;
  padding-left: 60px;
  padding-right: 70px;
  background-color: #dcdcdc;
}

.container-catalog-title h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .23em;
  color: #000;
}

.filter-right-title {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.filter-right-title h2 {
  padding-left: 70px;
  width: 200px;
}

.filter-right-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-range-options a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, .3);
  font-weight: 700;
  justify-content: space-between;
}

.left-filters-catalog {
  box-sizing: border-box;
  width: 330px;
  padding-left: 60px;
  padding-top: 70px;
  background-color: #eee;
}

.filter-forms {
  width: 200px;
  padding-right: 70px;
  display: block;
}

.left-filters-catalog fieldset {
  margin: 0 0 32px;
  padding: 0;
  position: relative;
  border: none;
}

.left-filters-catalog legend {
  margin-bottom: 18px;
  padding-top: 12px;
  font-size: 18px;
  text-transform: none;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
  font-weight: 700;
}

.filter-forms ul {
  margin: 0;
  padding: 0;
}


label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #000;
}

.catalog-items-teaser {
  padding-top: 50px;
  padding-left: 50px;
}

.catalog-items-product {
  display: flex;

  flex-wrap: wrap;
  margin: 0 0 -11px;
  padding: 0;
  list-style: none;
  width: 780px;
}

.item-teaser {
  position: relative;
  margin: 20px 20px 27px;
}

.teaser-info {
  display: flex;

  justify-content: space-between;
  width: 360px;
  margin-top: 27px;
}


.item-teaser-title {
  width: 260px;
  font-size: 18px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: .01em;
  font-weight: 700;
}

.item-teaser-price {
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
}

.catalog-navigation-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  min-height: 70px;
  box-sizing: border-box;
  margin: 20px 0 75px 70px;
  padding: 23px 0;
  background-color: #ebebeb;
}

/* скрыть */

.slider-qvadrocopter,
.slider-bracelet {
  display: none;
}

.form-write-to-us {
  display: none;
}

.open-map {
  display: none;
}

.catalog {
  display: none;
}
